<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aplikasiabsensiswa">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplikasiAbsenSiswa"
        tools:targetApi="31">
        <activity
            android:name=".guru.Absen.AbsenKelas"
            android:exported="false" />
        <activity
            android:name=".guru.Absen.AbsenSiswa"
            android:exported="false" />
        <activity
            android:name=".Riwayat"
            android:exported="false" />
        <activity
            android:name=".guru.Siswa.DetailedSiswa"
            android:exported="false" />
        <activity
            android:name=".guru.Siswa.AddSiswa"
            android:exported="false" />
        <activity
            android:name=".guru.Siswa.AllSiswa"
            android:exported="false" />
        <activity
            android:name=".guru.DetailedKelas"
            android:exported="false" />
        <activity
            android:name=".guru.AddKelas"
            android:exported="false" />
        <activity
            android:name=".guru.EditKelas"
            android:exported="false" />
        <activity
            android:name=".guru.EditSekretaris"
            android:exported="false" />
        <activity
            android:name=".siswa.MenuSiswa"
            android:exported="false" />
        <activity
            android:name=".siswa.RegisterSiswa"
            android:exported="false" />
        <activity
            android:name=".sekretaris.TambahSekretaris"
            android:exported="false" />
        <activity
            android:name=".guru.RegisterGuru"
            android:exported="false" /> <!-- Aktivitas-aktivitas -->
        <activity
            android:name=".siswa.LoginSiswa"
            android:exported="false" />
        <activity
            android:name=".sekretaris.LoginSekretaris"
            android:exported="false" />
        <activity
            android:name=".guru.MenuGuru"
            android:exported="false" />
        <activity
            android:name=".guru.LoginGuru"
            android:exported="false" />
        <activity
            android:name=".HalamanAwal"
            android:exported="false" /> <!-- MainActivity sebagai activity utama -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>